
export LANG=ja_JP.UTF-8
#export LANG=en_US.UTF-8
export LC_TIME=en_US.UTF-8
xrdb .Xresources

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export QT_QPA_PLATFORMTHEME='gtk2'
export QT_AUTO_SCREEN_SCALE_FACTOR=0

# export QT_SCREEN_SCALE_FACTORS=1.2
export QT_SCALE_FACTOR=1

# export GDK_SCALE=2
# export GDK_DPI_SCALE=0.5
