[Desktop Entry]
Type=Application
Name=Enpass
Exec=/home/nftug/bin/enpass -minimize
Icon=enpass.png
Comment=The best password manager
X-GNOME-Autostart-Delay=12
X-GNOME-Autostart-enabled=true
StartupNotify=false
